.login{
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.login-form{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.banner-login{
    width: 50%;
    height: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-login img{
    position: relative;
}

.banner-login h2{
    position: relative;
    bottom: 40px;
}

.login-form-wrapper{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.login-form-wrapper button{
    width: 100%;
    box-shadow: none;
    border-radius: 5;
    margin-top: 30px;
    border:1px solid #4334a3;
    background: #10cde3;
    border: none;
    color: #fff;
    margin-top: 10px;
}

.login-form-wrapper button:hover{
    border: none;
    color: #fff;
    transform: scale(1.02);
    transition: .2s;
}

.login-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 0;
}
.login-title a:hover{
    text-decoration: none;
     color:#a517ba;
}
.login-form p{
    padding-top: 15px;

}
.login-form p a:hover{
    color:#a517ba;
    text-decoration: none;
}

@media screen and (max-width:1200px){
    .banner-login {
        width: 50%;
        padding: 0 2%;
    }
    .banner-login img{
        max-width: 400px;
    }
}


@media screen and (max-width:791px){
    .banner-login {
        display: none;
    }
    .login-form{
        width: 100%;
    }
}
